<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chenfan.finance.dao.CfChargeInSplitMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chenfan.finance.model.CfChargeInSplit">
        <id column="charge_in_id" property="chargeInId" />
        <result column="charge_id" property="chargeId" />
        <result column="rule_billing_id" property="ruleBillingId" />
        <result column="brand_id" property="brandId" />
        <result column="vendor_id" property="vendorId" />
        <result column="inventory_code" property="inventoryCode" />
        <result column="product_code" property="productCode" />
        <result column="goods_name" property="goodsName" />
        <result column="sales_type" property="salesType" />
        <result column="costs_price" property="costsPrice" />
        <result column="tax_rate" property="taxRate" />
        <result column="arrival_qty" property="arrivalQty" />
        <result column="rejection_qty" property="rejectionQty" />
        <result column="actual_qty" property="actualQty" />
        <result column="defective_rejection_qty" property="defectiveRejectionQty" />
        <result column="postpone_detail" property="postponeDetail" />
        <result column="postpone_deductions_total" property="postponeDeductionsTotal" />
        <result column="qa_deductions" property="qaDeductions" />
        <result column="red_deductions" property="redDeductions" />
        <result column="tax_diff" property="taxDiff" />
        <result column="others_deductions" property="othersDeductions" />
        <result column="remark" property="remark" />
        <result column="company_id" property="companyId" />
        <result column="create_by" property="createBy" />
        <result column="create_name" property="createName" />
        <result column="create_date" property="createDate" />
        <result column="update_by" property="updateBy" />
        <result column="update_name" property="updateName" />
        <result column="update_date" property="updateDate" />
        <result column="advancepay_amount" property="advancepayAmount" />
        <result column="advancepay_amount_actual" property="advancepayAmountActual" />
        <result column="parent_id" property="parentId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        charge_in_id, charge_id, rule_billing_id, brand_id, vendor_id, inventory_code, product_code, goods_name, sales_type, costs_price, tax_rate, arrival_qty, rejection_qty, actual_qty, defective_rejection_qty, postpone_detail, postpone_deductions_total, qa_deductions, red_deductions, tax_diff, others_deductions, remark, company_id, create_by, create_name, create_date, update_by, update_name, update_date, advancepay_amount, advancepay_amount_actual, parent_id
    </sql>

</mapper>
