<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chenfan.finance.dao.DownpaymentConfigMapper">
    <resultMap id="BaseResultMap" type="com.chenfan.finance.model.dto.DownpaymentConfig">
        <id column="payment_conf_id" property="paymentConfId" jdbcType="INTEGER"/>
        <result column="payment_name" property="paymentName" jdbcType="VARCHAR"/>
        <result column="proportion" property="proportion" jdbcType="DECIMAL"/>
        <result column="tail_name" property="tailName" jdbcType="VARCHAR"/>
        <result column="tail_proportion" property="tailProportion" jdbcType="DECIMAL"/>
        <result column="sys_org_code" property="sysOrgCode" jdbcType="VARCHAR"/>
        <result column="sys_company_code" property="sysCompanyCode" jdbcType="VARCHAR"/>
        <result column="create_name" property="createName" jdbcType="VARCHAR"/>
        <result column="create_by" property="createBy" jdbcType="BIGINT"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="update_name" property="updateName" jdbcType="VARCHAR"/>
        <result column="update_by" property="updateBy" jdbcType="BIGINT"/>
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        payment_conf_id, payment_name, proportion, tail_name, tail_proportion, sys_org_code,
        sys_company_code, create_name, create_by, create_date, update_name, update_by, update_date
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from downpayment_conf
        where payment_conf_id = #{paymentConfId,jdbcType=INTEGER}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM downpayment_conf
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from downpayment_conf
        where payment_conf_id = #{paymentConfId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.chenfan.finance.model.dto.DownpaymentConfig">
        insert into downpayment_conf (payment_conf_id, payment_name, proportion,
        tail_name, tail_proportion, sys_org_code,
        sys_company_code, create_name, create_by,
        create_date, update_name, update_by,
        update_date)
        values (#{paymentConfId,jdbcType=INTEGER}, #{paymentName,jdbcType=VARCHAR}, #{proportion,jdbcType=DECIMAL},
        #{tailName,jdbcType=VARCHAR}, #{tailProportion,jdbcType=DECIMAL}, #{sysOrgCode,jdbcType=VARCHAR},
        #{sysCompanyCode,jdbcType=VARCHAR}, #{createName,jdbcType=VARCHAR}, #{createBy,jdbcType=BIGINT},
        #{createDate,jdbcType=TIMESTAMP}, #{updateName,jdbcType=VARCHAR}, #{updateBy,jdbcType=BIGINT},
        #{updateDate,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.chenfan.finance.model.dto.DownpaymentConfig">
        insert into downpayment_conf
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="paymentConfId != null">
                payment_conf_id,
            </if>
            <if test="paymentName != null">
                payment_name,
            </if>
            <if test="proportion != null">
                proportion,
            </if>
            <if test="tailName != null">
                tail_name,
            </if>
            <if test="tailProportion != null">
                tail_proportion,
            </if>
            <if test="sysOrgCode != null">
                sys_org_code,
            </if>
            <if test="sysCompanyCode != null">
                sys_company_code,
            </if>
            <if test="createName != null">
                create_name,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="updateName != null">
                update_name,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="updateDate != null">
                update_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="paymentConfId != null">
                #{paymentConfId,jdbcType=INTEGER},
            </if>
            <if test="paymentName != null">
                #{paymentName,jdbcType=VARCHAR},
            </if>
            <if test="proportion != null">
                #{proportion,jdbcType=DECIMAL},
            </if>
            <if test="tailName != null">
                #{tailName,jdbcType=VARCHAR},
            </if>
            <if test="tailProportion != null">
                #{tailProportion,jdbcType=DECIMAL},
            </if>
            <if test="sysOrgCode != null">
                #{sysOrgCode,jdbcType=VARCHAR},
            </if>
            <if test="sysCompanyCode != null">
                #{sysCompanyCode,jdbcType=VARCHAR},
            </if>
            <if test="createName != null">
                #{createName,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=BIGINT},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateName != null">
                #{updateName,jdbcType=VARCHAR},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=BIGINT},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.chenfan.finance.model.dto.DownpaymentConfig">
        update downpayment_conf
        <set>
            <if test="paymentName != null">
                payment_name = #{paymentName,jdbcType=VARCHAR},
            </if>
            <if test="proportion != null">
                proportion = #{proportion,jdbcType=DECIMAL},
            </if>
            <if test="tailName != null">
                tail_name = #{tailName,jdbcType=VARCHAR},
            </if>
            <if test="tailProportion != null">
                tail_proportion = #{tailProportion,jdbcType=DECIMAL},
            </if>
            <if test="sysOrgCode != null">
                sys_org_code = #{sysOrgCode,jdbcType=VARCHAR},
            </if>
            <if test="sysCompanyCode != null">
                sys_company_code = #{sysCompanyCode,jdbcType=VARCHAR},
            </if>
            <if test="createName != null">
                create_name = #{createName,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=BIGINT},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateName != null">
                update_name = #{updateName,jdbcType=VARCHAR},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=BIGINT},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where payment_conf_id = #{paymentConfId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.chenfan.finance.model.dto.DownpaymentConfig">
        update downpayment_conf
        set payment_name = #{paymentName,jdbcType=VARCHAR},
        proportion = #{proportion,jdbcType=DECIMAL},
        tail_name = #{tailName,jdbcType=VARCHAR},
        tail_proportion = #{tailProportion,jdbcType=DECIMAL},
        sys_org_code = #{sysOrgCode,jdbcType=VARCHAR},
        sys_company_code = #{sysCompanyCode,jdbcType=VARCHAR},
        create_name = #{createName,jdbcType=VARCHAR},
        create_by = #{createBy,jdbcType=BIGINT},
        create_date = #{createDate,jdbcType=TIMESTAMP},
        update_name = #{updateName,jdbcType=VARCHAR},
        update_by = #{updateBy,jdbcType=BIGINT},
        update_date = #{updateDate,jdbcType=TIMESTAMP}
        where payment_conf_id = #{paymentConfId,jdbcType=INTEGER}
    </update>
</mapper>